@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>
    Module code and title: 	CO550 Web Applications<br>
    Module leader:		Jon Jackson<br>
    Assignment no. and type:	CW1: Team Project Design<br>
    Assessment weighting: 	20%<br>
    Submission date:		23:59pm, Thursday 8th Nov 2018<br>
    Target feedback date: 	within 3 weeks of the submission date<br>
    Team Members:-		21703340, 21702905
</p>
<p><h5><strong>DERRICK YIRENKYI 21703340 AND  SAYED AHMADZAI 21702905</strong></h5></p>
<p>
    Functional Requirement
    Login: - Administrator, Employee, and Customers will be able to login to this application with their unique Id and password.<br>
    The login will take you to your customize dashboard where you have the limits and authority to navigate and perform actions. <br>
    Example, the Employee login will only send him to where he is authorized to work and therefore he will not have access to either create another employee or register an admin. <br>
    Certain tasks will require the administrator’s permission.<br>
    Logout: - After work, both users should be able to log out of their accounts to prevent others from entering and manipulating the stocks.<br>
    Create Employee: - this section is for admin use only. Administrator’s will use this menu link to register an employee and assign tasks.<br>
    Delete Employee: -Administrator’s will have the authority to delete an employee.<br>
    Add, Edit and Delete stock: - Both the Administrator and Employee are authorized to perform these functions.<br>
    Manage Customer: - The Employee will be able to manage customer delivery by communicating with the customer and arranging a perfect day for delivery.<br>
    Return: - the return button can take you back to the previous page.

</p>
